.full-width {
	background: #fff;
}

ul.wp-block-list li,
.wp-block-list ul li {
	list-style-type: square;
}

/* Featured image placeholder */
.wp-block-post-featured-image__placeholder,
.wp-block-post-featured-image.wp-block-post-featured-image .components-placeholder,
.wp-block-post-featured-image.wp-block-post-featured-image .wp-block-post-featured-image__placeholder {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='Layer_1' x='0' y='0' style='enable-background:new 0 0 416 335.2' version='1.1' viewBox='0 0 416 335.2'%3E%3Cstyle%3E .st0%7Bfill:%23CEE0F3;%7D %3C/style%3E%3Cpath d='m415.11 329.3-136.8-185.9c-2.5-4.6-8.2-7.4-14.3-7.4-6.11 0-11.82 2.77-15.21 7.38l-106.6 144.1-37.09-46.1c-3.44-4.28-8.93-6.81-14.77-6.81s-11.33 2.53-14.78 6.81L.04 335.19c0-.03 0 .03 0 0 0 0-.04-321.38 0-335.19H416v329.3h-.89z' class='st0'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


#primary {
	position: sticky;
	top: 1rem;
}


.devices-table td {
	border: 1px solid var(--gray_1);
	vertical-align: top;
}

.devices-table td:first-child {
	width: 150px;
	font-weight: 700;
}

.page-title {
	margin-bottom: 2rem;
	line-height: 1.1;
}

#content .has-background > * {
	background-color: inherit;
}

p:empty {
	display: none;
}

hr,
#editor hr,
.wp-block-separator {
	background-color: #e6e6e6;
	color: #e6e6e6;
	opacity: initial;
}

/* Query Loop image backgrounds */
#content .wp-block-post-featured-image {
	aspect-ratio: 16 / 9;
	position: relative;
	width: 100%;
}

#content .wp-block-post-featured-image img {
	object-fit: unset;
	object-position: unset;
	height: 100%;
	width: auto;
	aspect-ratio: unset;
}

#content .wp-block-post-featured-image:hover img {
	opacity: 1;
}

#content li:nth-child(4n - 3) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4 %7B fill: none; %7D .cls-5 %7B clip-path: url(%23clippath); %7D .cls-6 %7B fill: %230055b7; %7D .cls-7 %7B fill: %230c2344; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 5px; %7D .cls-2, .cls-3, .cls-4 %7B stroke-miterlimit: 10; %7D .cls-8 %7B clip-path: url(%23clippath-1); %7D .cls-3 %7B mix-blend-mode: multiply; stroke: %2300a7e1; stroke-width: 200px; %7D .cls-4 %7B stroke: %23fff; %7D .cls-9 %7B isolation: isolate; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='940' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' y='0' width='900' height='506.04'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-9'%3E%3Cg id='Graphic_Pattern_2' data-name='Graphic Pattern 2'%3E%3Cg class='cls-5'%3E%3Cg%3E%3Cellipse class='cls-4' cx='996.05' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-4' cx='1135.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_1' data-name='Graphic Pattern 1'%3E%3Crect class='cls-6' y='0' width='900' height='506.04'/%3E%3Cg class='cls-8'%3E%3Cpath class='cls-3' d='M-62.79-159.35c431.69,0,781.64,349.95,781.64,781.64'/%3E%3Ccircle class='cls-2' cx='463.52' cy='418.97' r='119.57'/%3E%3Ccircle class='cls-7' cx='805.97' cy='466.26' r='39.78'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n - 2) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Graphic_Pattern_2' data-name='Graphic Pattern 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 %7B fill: none; %7D .cls-6 %7B clip-path: url(%23clippath); %7D .cls-7 %7B fill: %23fff; %7D .cls-8 %7B fill: %2397d4e9; %7D .cls-9 %7B fill: %230c2344; %7D .cls-2 %7B stroke: %2397d4e9; stroke-width: 120px; %7D .cls-2, .cls-3, .cls-4, .cls-5 %7B stroke-miterlimit: 10; %7D .cls-3 %7B opacity: .4; stroke-width: 240px; %7D .cls-3, .cls-4 %7B stroke: %2300a7e1; %7D .cls-5 %7B stroke: %23fff; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' width='900' height='506'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect class='cls-9' width='900' height='506'/%3E%3Cg class='cls-6'%3E%3Cline class='cls-3' x1='674.62' y1='-953.9' x2='674.62' y2='918.12'/%3E%3Cg%3E%3Ccircle class='cls-7' cx='224.56' cy='504.2' r='19.05'/%3E%3Cg%3E%3Cellipse class='cls-5' cx='56.05' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='195.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='335.02' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='474.5' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='613.99' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='753.47' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-5' cx='892.96' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3Ccircle class='cls-8' cx='553.09' cy='147.16' r='12'/%3E%3C/g%3E%3Cpath class='cls-2' d='M533.91,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3Cpath class='cls-4' d='M533.91,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n - 1) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 %7B fill: none; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 1.5px; %7D .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 %7B stroke-miterlimit: 10; %7D .cls-9 %7B clip-path: url(%23clippath); %7D .cls-10 %7B fill: %23fff; %7D .cls-11 %7B fill: %2397d4e9; %7D .cls-12 %7B fill: %230c2344; %7D .cls-3 %7B stroke: %2397d4e9; stroke-width: 120px; %7D .cls-13 %7B clip-path: url(%23clippath-1); %7D .cls-14 %7B clip-path: url(%23clippath-2); %7D .cls-4 %7B stroke-width: 240px; %7D .cls-4, .cls-5, .cls-7, .cls-8 %7B stroke: %23fff; %7D .cls-4, .cls-8 %7B opacity: .2; %7D .cls-5 %7B stroke-width: 2px; %7D .cls-6 %7B stroke: %2300a7e1; %7D .cls-8 %7B stroke-width: 200px; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='940' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' x='0' width='900' height='506' transform='translate(900 506) rotate(180)'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Crect class='cls-1' x='-940' width='900' height='506'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Graphic_Pattern_4' data-name='Graphic Pattern 4'%3E%3Cg class='cls-9'%3E%3Cg id='Grid'%3E%3Cline class='cls-2' x1='1282.49' y1='302.71' x2='823.08' y2='302.71'/%3E%3Cline class='cls-2' x1='1282.49' y1='405.79' x2='823.08' y2='405.79'/%3E%3Cline class='cls-2' x1='1282.49' y1='93.46' x2='823.08' y2='93.46'/%3E%3Cline class='cls-2' x1='1282.49' y1='196.54' x2='823.08' y2='196.54'/%3E%3C/g%3E%3Cg id='Overlays'%3E%3Cpath class='cls-8' d='M855.13,349.26c204.15,1.78,371.09-162.27,372.88-366.42'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_3' data-name='Graphic Pattern 3'%3E%3Crect class='cls-11' x='0' width='900' height='506'/%3E%3Cg class='cls-13'%3E%3Ccircle class='cls-12' cx='731.73' cy='337.73' r='168.27'/%3E%3Cpath id='Overlay_Path' data-name='Overlay Path' class='cls-4' d='M502.61,916h0c-229.46-545.34,26.61-1173.43,571.94-1402.9h0s1500.84-631.51,1500.84-631.51'/%3E%3Cpath id='Thin_White_Path' data-name='Thin White Path' class='cls-5' d='M446.44,622.21h0C410.49,396.28,198.2,242.26-27.73,278.21h0'/%3E%3Cg id='White_Circles' data-name='White Circles'%3E%3Ccircle class='cls-10' cx='246.72' cy='496.25' r='52.54'/%3E%3Ccircle class='cls-10' cx='246.72' cy='391.53' r='52.54'/%3E%3C/g%3E%3Cg id='Blue_Outline_Circles' data-name='Blue Outline Circles'%3E%3Ccircle class='cls-6' cx='286.94' cy='239.99' r='15.06'/%3E%3Ccircle class='cls-6' cx='334.38' cy='239.99' r='15.06'/%3E%3Ccircle class='cls-6' cx='286.94' cy='195.9' r='15.06'/%3E%3Ccircle class='cls-6' cx='334.38' cy='195.9' r='15.06'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_2' data-name='Graphic Pattern 2'%3E%3Cg class='cls-14'%3E%3Cg%3E%3Cellipse class='cls-7' cx='-186.53' cy='527.57' rx='254.26' ry='317.05'/%3E%3Cellipse class='cls-7' cx='-47.04' cy='527.57' rx='254.26' ry='317.05'/%3E%3C/g%3E%3Cpath class='cls-3' d='M-406.09,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3Cpath class='cls-6' d='M-406.09,506.02h0c0-229.99,186.44-416.43,416.43-416.43h0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content li:nth-child(4n) .wp-block-post-featured-image {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 900 506'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 %7B fill: none; %7D .cls-2 %7B stroke: %236ec4e8; stroke-width: 1.5px; %7D .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 %7B stroke-miterlimit: 10; %7D .cls-3 %7B stroke-width: 3px; %7D .cls-3, .cls-4, .cls-6, .cls-7 %7B stroke: %23fff; %7D .cls-8 %7B clip-path: url(%23clippath); %7D .cls-9 %7B fill: %230055b7; %7D .cls-10 %7B fill: %23fff; %7D .cls-11 %7B fill: %2300a7e1; %7D .cls-12 %7B clip-path: url(%23clippath-1); %7D .cls-4 %7B stroke-width: .75px; %7D .cls-5 %7B mix-blend-mode: multiply; stroke: %2397d4e9; %7D .cls-5, .cls-7 %7B stroke-width: 200px; %7D .cls-6 %7B stroke-width: 240px; %7D .cls-6, .cls-7 %7B opacity: .2; %7D .cls-13 %7B isolation: isolate; %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='0' width='900' height='506'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' x='-940' width='900' height='506' transform='translate(-980 506) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-13'%3E%3Cg id='Graphic_Pattern_4' data-name='Graphic Pattern 4'%3E%3Crect class='cls-11' x='0' width='900' height='506'/%3E%3Cg class='cls-8'%3E%3Cg id='Grid'%3E%3Cline class='cls-2' x1='342.49' y1='302.71' x2='-116.92' y2='302.71'/%3E%3Cline class='cls-2' x1='342.49' y1='405.79' x2='-116.92' y2='405.79'/%3E%3Cline class='cls-2' x1='342.49' y1='93.46' x2='-116.92' y2='93.46'/%3E%3Cline class='cls-2' x1='342.49' y1='196.54' x2='-116.92' y2='196.54'/%3E%3Cline class='cls-2' x1='98.49' y1='-248.46' x2='98.49' y2='1167.43'/%3E%3Cline class='cls-2' x1='220.49' y1='-248.46' x2='220.49' y2='1167.43'/%3E%3Cline class='cls-2' x1='342.49' y1='-248.46' x2='342.49' y2='1167.43'/%3E%3C/g%3E%3Cg id='Diagonal_Lines' data-name='Diagonal Lines'%3E%3Cg%3E%3Cline class='cls-4' x1='758.55' y1='66.17' x2='1313.88' y2='550.97'/%3E%3Cpath class='cls-10' d='M756.8,68.39c-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27,1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27Z'/%3E%3C/g%3E%3Cg%3E%3Cline class='cls-4' x1='292.56' y1='263.55' x2='69.75' y2='68.96'/%3E%3Cpath class='cls-10' d='M294.31,261.33c1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27Z'/%3E%3Cpath class='cls-10' d='M71.71,66.93c-1.17-1.02-2.95-.9-3.98,.27-1.02,1.17-.9,2.95,.27,3.98,1.17,1.02,2.95,.9,3.98-.27,1.02-1.17,.9-2.95-.27-3.98Z'/%3E%3C/g%3E%3Cg%3E%3Cline class='cls-4' x1='97.08' y1='66.17' x2='652.42' y2='550.97'/%3E%3Cpath class='cls-10' d='M95.33,68.39c-1.17-1.02-1.29-2.81-.27-3.98,1.02-1.17,2.81-1.29,3.98-.27,1.17,1.02,1.29,2.81,.27,3.98-1.02,1.17-2.81,1.29-3.98,.27Z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Overlays'%3E%3Cpath class='cls-7' d='M-84.87,349.26c204.15,1.78,371.09-162.27,372.88-366.42'/%3E%3Cline class='cls-5' x1='803.38' y1='-110.45' x2='803.25' y2='531.5'/%3E%3C/g%3E%3Cg id='Circles'%3E%3Ccircle class='cls-3' cx='329.15' cy='198.58' r='105.76'/%3E%3Ccircle class='cls-9' cx='220.07' cy='196.77' r='39.78'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Graphic_Pattern_3' data-name='Graphic Pattern 3'%3E%3Cg class='cls-12'%3E%3Cpath id='Overlay_Path' data-name='Overlay Path' class='cls-6' d='M-437.39,916h0C-666.86,370.66-410.79-257.43,134.55-486.89h0s1500.84-631.51,1500.84-631.51'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* color for overlay */
#content .wp-block-post-featured-image::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--blue_2);
	transition: var(--transition-ease);
	opacity: 0;
	pointer-events: none;
}

#content .wp-block-post-featured-image:hover::before {
	opacity: 0.35;
}

.wp-block-post-featured-image a {
	display: block;
	overflow: hidden;
	aspect-ratio: 16 / 9;
}

.wp-block-post-featured-image,
figure.wp-block-image {
	position: relative;
	display: inline-block; /*this makes the figure container only as wide as it's content. Positions icon*/
}

/*********************** Refactor below into plugin **********************************/
/*
CSS has been moved to widget to be refactored into plugin
CSS in this window has not been added to a commit. 
CSS in the widget has been added to the branch 
    https://github.com/gdouglas/mednet-block-patterns/tree/refactor-css-from-live-site

*/

/* stop contact block from crashing with image 
    wrap content and make it minimum width of the image
*/
@media (max-width: 1025px) {
    .contact-block .wp-block-columns{
        flex-wrap: wrap !important;
    }
    .contact-block .wp-block-column {
        max-width: 100%;
        flex-basis: auto !important;
    }
}
.contact-block .wp-block-column {
    min-width: 210px;
}

@supports not selector(:has(*)) {
    a[target="_blank"],
    #content .wp-block-button__link {
        background-repeat: no-repeat;
    }
    a[target="_blank"] {
        background-image: var(--new-tab-secondary);
    }
    #content .wp-block-button__link:hover {
        background-image: none !important;
    }
    #content .wp-block-button__link[target="_blank"]:hover {
        background-position: right;
        background-image: var(--new-tab-primary) !important;   
    }         
    figure.wp-block-image a:hover::before {
        opacity: 0.45;
    }
    figure.wp-block-image:hover + .content-card-title {
        text-decoration: underline;
    }
}
.full-line-height {
    line-height: 1 !important;
}

.home .content h2.quicklinks {
    margin-top: 5px;
    margin-bottom: 1.1rem;
}

.home .whats-new-home-title {
    margin-bottom: 1.5rem;
}

.home .announcements-list h2 {
    letter-spacing: -0.4px;
    margin-top: 0 !important; /*not on an inline element, just messy*/
}
.homepage .announcements-list h2 :is(a,a:hover) {
    background-image: unset;
    padding-right: unset;
}

#content .announcements-list .wp-block-post-featured-image a[target="_blank"]::after {
    content: "";
}
#content .announcements-list li > .wp-block-columns {
    gap: 1.5rem;
}

#content :is(p.has-white-color a[target="_blank"],
#content .is-style-accent a[target="_blank"],
#content .is-style-reverse-group a[target="_blank"]):hover {
    color: var(--white);
    text-decoration: underline;
    background-image: var(--new-tab-white);
}



/*hide the category link on the post meta */
:is(.category-homepage-whats-new,.category-homepage-whats-new-sidebar) .post-meta p{
    color: transparent;
}
:is(.category-homepage-whats-new,.category-homepage-whats-new-sidebar) .post-meta span {
    color: var(--blue_2);
}
:is(.category-homepage-whats-new,.category-homepage-whats-new-sidebar) .post-meta a[href*="homepage"] {
    display: none;
}
:is(.category-homepage-whats-new,.category-homepage-whats-new-sidebar) .post-meta a::after {
    content:",";
}

:is(.category-homepage-whats-new, .category-homepage-whats-new-sidebar) .post-meta a:last-of-type::after,
:is(.category-homepage-whats-new, .category-homepage-whats-new-sidebar) .post-meta a:has(+ a[href*="homepage"])::after {
    content: ""; /*won't work in FireFox, hide comma in category list if next element is a link to a hidden category*/
}
/* contact grid example
   https://med-fom-mednet.sites.olt.ubc.ca/research/contacts/#
*/
.contact-grid {
    border: 1px solid var(--gray_1);
}
#content .contact-grid-head {
    text-color: var(--white);
    background-color: var(--blue_2);
}
#content .contact-grid-head p {
    color: var(--white);
}
@supports selector(:has(a)) {
    .contact-grid .wp-block-column:has(a[href*="mailto"]) {
        min-width: min-content;
        max-width: 100%;
    }    
    .contact-grid a[href*="mailto"] {
        white-space: nowrap;
    }
}

.contact-grid .wp-block-columns {
    padding: 1rem;
    margin-bottom: 0;
}
.contact-grid .wp-block-columns:nth-child(odd) {
    background: var(--gray_1);
}

:is(.is-style-reverse-group,
.is-style-accent-group,
.blue-feature-blocks)
.wp-block-button__link:hover {
    background-color: var(--gray_1);
    color: var(--blue_2);
    /* background-image: var(--new-tab-primary) !important; 
    removing this to get rid of the "in memorium" button bug */
}


/* homepage spotlights should be one column on mobile.
helps with long names */
.spotlight-cards .wp-block-post-excerpt p{
    margin-bottom: 0;
}
.spotlight-cards .wp-block-post-title a {
    display: inline;
    hyphens: auto;
}
#content .spotlight-cards li.post div.wp-block-group {
    padding-left: 0;
    margin-top: 2rem;
}

@media (max-width: 425px) {
    .spotlight-cards  li.post {
    	 flex-wrap: wrap;
         justify-content: center;
         margin-bottom: 2rem;
         margin-top: 1rem;
	}
        text-align-last: center;
/*    .spotlight-cards  li.post:nth-child(even) :is(.wp-block-post-terms, .wp-block-post-title){
        text-align: right; 
*/
    }
}
/*spotlights************************************************/


#content figure.is-style-no-link-icon a::after {
    content: none;
}

.table-text-wrap {
    vertical-align: top;   
}

.announcements-list img {
    object-fit: fill !important;
    height: 100%;
    width: 100%;
}
.announcements-list a {
    background-color: none;
}

@media (max-width: 980px) {
    .announcement-block,
    .announcements-list .wp-block-columns {
        flex-direction: column;
        gap: 0;
    }
    .announcements-list ul {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .announcements-list li {
        flex-basis: calc(100%) !important;
        min-width: 160px;
        border: unset;
        margin-bottom: unset !important;
        padding-bottom: unset !important;
    }
    .announcements-list li .wp-block-column {
        flex-basis: auto !important;    
    }
    .featured-announcement {
        flex-basis: auto !important;    
    }
    .announcement-block > .wp-block-column:first-of-type {
        position: unset;
        padding-bottom: unset;
    }
    .announcement-block {
        position: relative;
    }
    .announcement-card-large{
        max-width: 100%;
    }
    .announcement-block-list {
        flex-basis: auto !important;    
    }
    .homepage .announcements-list h2, .homepage .announcements-list h2 a {
        overflow: visible !important;
        font-size: 18px !important;
        font-weight: 100;
    }
    #content .announcements-list h2, #content .announcements-list h2 a {
        height: 4em !important;   
    }

}


@media (max-width: 782px) {
    .events-list .wp-block-columns {
        gap: 2rem !important;
    }
    .events-list {
        position: relative;
        padding-bottom: 180px;
    }
    .events-list .wp-block-buttons {
        margin: 0;
        position: absolute;
        bottom: 5rem;
    }
}

figure.wp-block-image {
    position: relative;
}
figure.wp-block-image a::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blue_1);
    position: absolute;
    opacity: 0;
    transition: var(--transition-ease);
}
#content .wp-block-post-featured-image::before {
    background-color: var(--blue_1) !important; /*overwrite value of blue_2 */    
}

figure:has(+*>a:hover) a::before,
figure.wp-block-image a:hover::before {
    opacity: 0.45;
}

figure:has(+*>a:hover):has(a) img,
figure.wp-block-image a:hover img {
    opacity: 1 !important;
}

#content .wp-block-post-featured-image a[target="_blank"] {
    background-image: none;
}
#content .wp-block-post-featured-image a[target="_blank"]::before {
    display: none;
}

#content .wp-block-post-featured-image img {
    height: unset !important;
    width: unset !important;
    aspect-ratio: unset !important;
    /* any height or width value will interfere with the aspect ratio */
}
#content .faculty-staff-spotlight-page .wp-block-post-featured-image img {
    height: 100% !important;
}
#content .faculty-staff-spotlight-page .wp-block-post-featured-image {
    border: 1px solid var(--white); /*chrome rounds aspect ratios unfavourably, border hides 1px */
    background-clip: content-box !important;
    background-color: unset !important;
}

#content .spotlight-cards .wp-block-post-featured-image,
#content .spotlight-cards .wp-block-post-featured-image img {
    width: 210px !important;
}

#content .announcement-feed img {
    min-height: 100% !important;
}

.spotlight-cards  li.post {
    text-align-last: center;
}

@media (max-width: 781px) {
    :is(.pathway-grid-row,
    .pathway-page-grid) {
        gap: 2rem !important;
    }
    :is(.pathway-grid-row,
    .pathway-page-grid) .wp-block-column h2{
        margin-top: 1rem;
    }
    :is(.pathway-grid-row,
    .pathway-page-grid) .wp-block-column p {
        margin: 0 0 1rem 0;
    }
}

#primary-secondary .sidenav a[target="_blank"]:hover {
    background-image: unset;
}

#primary-secondary .sidenav a[target="_blank"]::after {
    content: var(--new-tab-primary);
}
#primary-secondary .sidenav a[target="_blank"]:hover::after {
    content: var(--new-tab-white);
}



.safari :is( a[href^="mailto" i], a[href*=".xls" i], a[href*=".doc" i], a[href*=".pdf" i], a[href="#top" i], a[href^="telto"], a[href*="panopto" i], a[href*="mediasite.audiovisual.ubc.ca" i], a[href*=".mp4" i] ){
    overflow-wrap: unset; /*in safari the text width doesn't change but the height will */
}

.homepage .content-card-title {
    padding: 0;
    margin-top: 0;
}

#content .homepage .content-card {
    margin-bottom: 2rem;
}

body:not(.home) .wp-block-query li.has-post-thumbnail .wp-block-post-terms {
    line-height: 1.5;
}
body:not(.home) .wp-block-query li.has-post-thumbnail .wp-block-post-title {
    margin: 0;
    margin-bottom: 1rem;
}
#content .wp-block-query li.has-post-thumbnail .wp-block-post-title {
    line-height: 1.2;
}
body:not(.home) .wp-block-query li.has-post-thumbnail .wp-block-post-title a[target="_blank"] {
    background-image: var(--new-tab-primary);
}

#content .wp-block-query .post figure a::after {
    content: "";
}

@supports selector(:has(a)){
    /*query loop posts with featured link and title, hover on links */
    #content .wp-block-query .post:has(a:hover) figure::before {
        opacity: 0.35;
    }
    #content .wp-block-query .post:has(a:hover) .wp-block-post-title a {
        text-decoration: underline !important;
    }
    /* all query loops should be perfect hover effects now. */
}


.faculty-staff-spotlight-page > div > p {
    margin-bottom: 3rem;
}


/*nonsense where li line height gets inherited on all elements some of the time */
ul li {
    line-height: 1.5;
    margin-bottom: 0.5rem;
}
li.post {
    line-height: 0;
}
#content li.post .wp-block-post-title {
    margin-top: 18px;
    margin-bottom: 8px;
    /* causes problem on homepage spolitght items margin-bottom: 0; */
    line-height: 1.4 !important;
}
#content .wp-block-query ul.wp-block-post-template li {
    margin-bottom: 15px;
}

body .is-layout-flow > * + * {
    margin-block-start: 3%;   
}

.sidebar-column h2, .contact-block h2 {
    font-size: 20px !important;
}

.pathways-feature-block > div > div > div > figure:nth-child(1) {
    height: auto !important;   
}
/*end fix for nonsense*/
#content :is(.wp-block-table, .wp-block-ubc-advanced-table-block) :is(table,th, tr),
#content :is(.wp-block-table, .wp-block-ubc-advanced-table-block) tr:last-of-type td{
    border: none; /*override block styles*/
}

#content :is(.wp-block-table, .wp-block-ubc-advanced-table-block) td {
    padding-top: 22px;
    padding-bottom: 22px;
    border-left: none;
    border-right: none;
    border-color: #d7e0e7;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--gray_1);
}

.spotlight-cards > div > div > div:nth-child(2) > div > ul li .wp-block-post-title {
    text-align: center;
}

body.archive img.medium { /*category images have an ugly border */
    border: none;
    padding: unset;
}

.archive.category :is(.post-meta, .entry-meta) {
    display: none;
}



#content :is(h1, h2, h3, h4) a::first-letter {
    padding-left: 0;
}

#content .is-style-no-link-icon::after,
#content .is-style-no-link-icon a::after {
    content: unset
}


.spotlight-cards .wp-block-post-terms a {
    display: block;
    text-align: center;
}

.contact-block h4 {
    margin-bottom: 10px;
}
:is(.is-style-accent-column,
.is-style-accent-group,
.is-style-reverse-column,
.is-style-reverse-group) :is(h1,h2,h3,h4):not(.has-text-color) {
    color: var(--white);
}



.wp-block-post-date {
    display: block;
    margin-top: 1rem;
}

#ubc7-unit-menu .nav>li {
    margin-bottom: 0px;   
}


#content .post.category-in-memoriam figure.wp-block-post-featured-image {
    background: none;
}

.three-col-block-with-feature-box .wp-block-column.is-layout-flow:first-of-type {
    padding-left: 0;
}

.no-margin {
    margin: 0 !important;   
}
.display-inline span {
    display: inline-block !important;
}

.contact-block-small a:hover {
    color: var(--blue_1) !important;
}

.category-funding-opportunities .post-byline {
    display: none; /* Hide the pubnlished date on funding opportunity posts*/
}

#content .three-col-block-with-feature-box :is(h2,h3,h4) {
    font-size: var(--larger)
}


#content .is-style-reverse-column .wp-block-button__link:hover {
    background-color: var(--gray_1);
    color: var(--blue_2);
}
#content .is-style-reverse-column .wp-block-button__link[target="_blank"]:hover {
    background-image: var(--new-tab-primary);
}

.quicklinks-three-columns ul {
    list-style-type: square;
}
.quicklinks-three-columns li {
	padding-bottom: 0;
}

/********************  Utility  *****************************/
.padding-40 {
    padding: 40px;
}
.margin-bottom-like-columns {
    margin-bottom: 1.75em;
}
/********************END Utility*****************************/


/** Announcments footer stuff. Need to move to live site **/
/*********************START*******************************/
.post-footer-related-posts .container-fluid {
    padding: 0;
}

.post-footer-group {
    margin-top: -30px; /*hentry has margin of 50px on bottom. Take back most for balance with post meta*/
}
.post-footer-read-more strong {
    float: left
}
.post-footer-group .post-categories {
    padding-bottom: 50px;
}
.post-footer-group .post-categories li:first-of-type{
    padding-left: 0.25em;
}
.post-footer-group .post-categories :is(li, a){
    display: inline-block;
    color: var(--blue_1) !important;
    font-size: 1rem !important;
}
.post-footer-group .post-categories a::after {
    content: ", ";
}
.post-categories a[href*="homepage"] {
    display: none;
}
.post-categories li:last-of-type a::after,
.post-categories li:has(+ li a[href*="homepage"]) a::after {
    content: ""; /*won't work in FireFox, hide comma in category list if next element is a link to a hidden category*/
}

.no-top-border {
    border-top: 0;
}
.no-top-margin {
    margin-top: 0 !important;
}
.has-callout-font-size {
    font-size: var(--callout);
}

hr {
    /*overwrite clf hr to look like mednet*/
    border-top: 0;
    border-color: #e6e6e6;
}

article .post-footer-post-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    font-style: normal;
    letter-spacing: -0.18px;
    margin-top: 18px;
    margin-bottom: 8px;
}
.single-post div[role="main"] {
    display: flex;
}
.single-post #content {
    margin-right: 2.564102564102564%;
    margin-left: 0;
    order: 1;
}
.single-post #primary-secondary.sidebar {
    order: 2;
    margin-left: 0 !important;
}
/*Announcments footer stuff. Need to move to live site*/
/********************END*******************************/
.is-style-blue-btn a[target="_blank"]:hover {
    background-image: var(--new-tab-primary) !important;
}
.full-bleed-blue {
    max-width: none;
    padding-top: 5.4rem;
    padding-bottom: 5.5rem;
    box-shadow: 25vw 0 1px var(--blue_1), -25vw 0 1px var(--blue_1), 35vw 0 1px var(--blue_1), -35vw 0 1px var(--blue_1);
}
#spotlight-sidebar {
    padding: 2rem 0 0 2rem
}

#spotlight-sidebar article {
    margin-bottom: 2rem;
}

#spotlight-sidebar figure.image-circle {
    background-color: var(--blue_1);
}
#spotlight-sidebar figure.image-circle a {
    display: inline-block;
}
.post-footer-post-title a{
    color: var(--blue_2);
}

@media (max-width: 769px) {
    #primary-secondary,
    #primary-secondary #primary{
        position: static !important;
        max-width: unset !important;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .single-post #container div[role="main"] {
        flex-wrap: wrap;
    }
    .blue-feature-blocks {
        margin: auto;
    }
    .single-post #content{
        margin-right: 0 !important;
    }
}

.spotlight-sidebar-list {
    margin-left: 0;
    list-style-type: none;
}
.spotlight-sidebar-list>li {
    margin-bottom: 2rem;
}
.spotlight-sidebar-list .wp-block-post-title {
    margin-top: 0;
}

.spotlight-sidebar-list figure {
    display: block;
    aspect-ratio: 16 / 9;
}
.spotlight-sidebar-list figure img {
    height: 100%;
    width: auto;    
}
.spotlight-sidebar-list figure::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue_1);
    opacity: 0;
    transition: var(--transition-ease);
}
.spotlight-sidebar-list figure:hover::before {
    opacity: 0.35;
}